@font-face {
  font-family: 'Metdemo';
  src: local('Metdemo'), url('../fonts/Metdemo.ttf') format('truetype');
}

$background: #8c52ff;
$input_gradient: linear-gradient(to right, #cf2e7e, #8d53ff, #ceb8ff);

@import './Login.scss';


.page--container {
  background: $background;
  position: absolute;
  width: 100%;
  height: 100%;
}

.rythmic-dictation--container {
  text-align: center;
  display: flex;
  flex-direction: column;

  button {
    width: 100px;
    height: 30px;
  }
}

.music--container {
  font-family: 'Metdemo';

  button {
    font-family: 'Metdemo';
  }
}

.form {
  &__button--primary {
    background: #fd5852;
    color: white;
    align-self: center;
    width: 300px;
    height: 40px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    margin: 10px;
    height: 50px;
    font-size: 38px;
  }

  &__button--secondary {
    background: linear-gradient(to right, #cf2e7e, #8d53ff, #ceb8ff);
    color: black;
    align-self: center;
    width: 250px;
    height: 40px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    margin: 10px;
  }
}
