@font-face {
  font-family: 'Metdemo';
  src: local('Metdemo'), url('./fonts/Metdemo.ttf') format('truetype');
}

.rythmic-dictation--container {
  text-align: center;
  display: flex;
  flex-direction: column;

  button {
    width: 100px;
    height: 30px;
  }
}

.music--container {
  font-family: 'Metdemo';

  button {
    font-family: 'Metdemo';
  }
}

.login {
  &--container {
    background: #bb1cb8;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
  }

  &__input {
    align-self: center;
  }

  &__link {
    align-self: center;
  }

  &__button {
    align-self: center;
    width: 250px;
  }
}
